md_01_aula_01 - What's up?

oi | olá
como você está?
Agradecer
Qual seu nome?
Bom dia | boa tarde | Boa noite != good night
Prazer em te conhecer
Meu | dele | seu
What's up? just fine! 
tchau

Revisão 
	21/08/2020 - dia
	28/08/2020 - semana 1
